button.delete {
  padding: 0 4px;
  margin-left: auto;
}

div.logitem {
  display: flex;
  background-color: white;
  margin: 10px;
  padding: 15px 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.05);
}

div.collapsed {
  height: 75px;
  width: 700px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: flex-start;
}

span.glyphicon-trash {
  font-size: 14px;
}

div.logs.well {
  max-height: 290px;
  overflow-y: scroll;
}

div.undo-delete {
  position: fixed;
  bottom: 6rem;
  left: 13.5rem;
  width: 35rem;
}

div.log-author {
  display: flex;
  flex-wrap: wrap;
}
