{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />

    <link rel="apple-touch-icon" href="//s3.amazonaws.com/s3.moveon.org/images/with_dims/moveon_iphone_icon_57x57.png"/>
    <link rel="shortcut icon" href="//s3.amazonaws.com/s3.moveon.org/favicon.ico" />
    <link href="//s3.amazonaws.com/actionkit.moveon.org/static/stylesheets/site.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} bulk-message-send{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
    <li>{% trans 'Delete multiple objects' %}</li>
</ol>
</div>
{% endblock %}

{% block content %}

{% if perms_lacking %}
    <p class="alert alert-danger">
      Contact a site administrator about getting permission to bulk edit tags.
    </p>
{% elif count > max_send %}
    <p class="alert alert-danger">
      The maximum number of people you can send to is {{max_send}}.  Your current selection is {{count}}.
      Please click back and select a lower number.
    </p>
{% else %}

    <form method="post">{% csrf_token %}

    <div class="form-row clearfix">
        
        <div class="form-group col-md-12">
            <h4>Message</h4>
            <textarea name="message"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
            {% endfor %}
            <input type="hidden" name="action" value="bulk_message_send" />
            <input type="hidden" name="post" value="yes" />
            <ul class="list-inline">
                <li class="list-inline-item"><input type="submit" class="default btn btn-success" value="Send to {{count}} {{count|pluralize:'person,people'}}" /></li>
                <li class="list-inline-item"><big><a href="#" class="button cancel-link">{% trans "No, take me back" %}</a></big></li>
            </ul>
        </div>
    </div>

  
    </form>
{% endif %}
{% endblock %}
