{% load static %}
<script src="{% static 'js/reviewer.js' %}"></script>
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">

{% if not spec.value %}
  {# need to offer options #}
  <label>Review for</label>
  <ul>
    {% for c in choices %}
    <li><a href="{{c.query_string|iriencode}}">{{c.display}}</a>{% if c.selected %} (current){% endif %}</li>
    {% endfor %}
  </ul>
{% else %}
  {# chosen, or just one option #}
<script>
  var reviewState = (new Reviewer({organization: "{{spec.get_slug}}",
                                   schema: {{spec.review_schema_json|safe}},
                                   contentType: {{spec.content_type.id}},
                                   jQuery: window.jQuery || django.jQuery,
                                   pollRate: {{spec.poll_rate}},
                                   apiPath: "{{spec.get_path}}"
                                  }));
  (window.jQuery || django.jQuery)(function() {
    setTimeout(reviewState.start, 0);
  });
</script>
{% endif %}
