"""
`EVENT_SOURCES` is a dict that includes a list of event source parameters

These parameters can be specified in the event_exim.models.EventSource crm_data field.
However, configuring it in settings, means that the security credentials used to connect to
those sources does not need to be stored in the database (nor exposed anywhere in the UI).

EVENT_SOURCES keys should be the EventSource.name field for an existing record or one that
will be auto-created.  Besides the parameters for the connector, include a key 'crm_type'
which should correspond to one of the CRM_TYPES listed in event_exim.models

## Auto-creation

To setup event sources, many database records need to be created to setup an organization,
a source (or multiple sources), and groups for users to be able to access the different
parts of administration and event review.
"""

EVENT_SOURCES = {
    'example.com': {
        'crm_type': 'actionkit_api',
        'ak_secret': 'foobar',
        'api_user': 'xyz',
        'api_password': 'password',
        'base_url': 'https://roboticdogs.actionkit.com',
        'ignore_host_ids': '123,345',
        'max_event_load': 100,
    },
    'facebook-example': {
        'crm_type': 'facebook',
        # Get app_id and app_secret from your app dashboard
        # Go to developers.facebook.com/apps and click on your app to
        # get there
        'app_id': '0123456789',
        'app_secret': 'abcdefghijklmnopqrstuvwxyz1234567890',
        # insert Access Token from developers.facebook.com/tools/explorer
        'auth_token': 'abcdefghijklmnopqrstuvwxyz1234567890',
        'token_expiration': '2017-09-10',
        'user_id': 'Your Name',
    },
}

# EVENT_PUBLIC_API = False
# EVENT_PUBLIC_API_REFRESH = False

DEBUG = True
