# sudo apt-get install build-essential libssl-dev libffi-dev python-dev libmysqlclient-dev postgresql-server-dev-all

Django==1.11.1
# Include https://github.com/tzangms/django-bootstrap-form/pull/88 fix. Can change to version number when version increments above 3.2.1
git+https://github.com/tzangms/django-bootstrap-form.git@5fff56f715bd9f2f29793f6a5a87baa1be25e409#egg=django-bootstrap-form
git+https://github.com/MoveOnOrg/huerta.git@master#egg=huerta
-e git+https://github.com/MoveOnOrg/python-actionkit.git@public-master#egg=python-actionkit

mysqlclient==1.3.7
psycopg2==2.6.2

requests[security]==2.11.1
six==1.10.0

fakeredis
django-redis~=4.4
django-cachalot

boto
zappa
