<a id="send-message--{{obj_id}}--w{{widget_id|default:0}}" href="{{link|safe}}" >Send message to host</a>
<div id="send-message-status--{{obj_id}}--w{{widget_id|default:0}}" class="hidden">
  <b style="vertical-align:top">Message:</b>
  <textarea rows="2" style="min-width: 50%;" placeholder="{{placeholder}}"></textarea>
  <button class="btn btn-sm" style="vertical-align:top">Send</button>
  <span></span>
</div>
<script>
$('#send-message--{{obj_id}}--w{{widget_id|default:0}}').click(function(evt) {
    var $link = $('#send-message--{{obj_id}}--w{{widget_id|default:0}}');
    var $status = $('#send-message-status--{{obj_id}}--w{{widget_id|default:0}}');
    $status.removeClass('hidden');
    $('button', $status).removeClass('hidden');
    evt.preventDefault();
    return false;
});

$('#send-message-status--{{obj_id}}--w{{widget_id|default:0}} button').click(function(evt) {
  evt.preventDefault();
  var $link = $('#send-message--{{obj_id}}--w{{widget_id|default:0}}');
  var $status = $('#send-message-status--{{obj_id}}--w{{widget_id|default:0}}');
  $(this).addClass('hidden');
  var $msgSpan = $('span', $status)
    .text('Sending ...')
    .attr('class', 'label label-warning');
  $.ajax({"method": "POST",
          "url": $link.attr('href'),
          "data": {
            'message': $('textarea', $status).val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
          }
         })
    .then(function success(data) {
      console.log(data);
      console.log(data.result);
      if (data.result == 'success') {
        $msgSpan
          .text('Sent')
          .attr('class', 'label label-success');
      } else {
        $msgSpan
          .text('Error: ' + data.result)
          .attr('class', 'label label-danger');
      }
    }, function error(data) {
      $msgSpan
        .text('Error')
        .attr('class', 'label label-danger');
    });
  return false;
});
</script>
